### SQLAlchemy
- python 에서 사용하는 ORM
- ORM : Object Relational Mapping
    - 데이터 베이스를 객체화 시켜서 데이터 베이스에 있는 데이터를 CRUD 할수 있다.
        - Create
        - Read
        - Update
        - Delete
    - 쿼리 대신 함수 형태로 CRUD를 할수 있습니다.
    - 사용하는 데이터 베이스를 변경하는 경우 엔진만 바꿔주면 됩니다.
- 설치 : `pip3 install sqlalchemy`

## 로컬에서 작업해 보겠습니다.
### 서버에서 작업해도 동일한 결과를 얻을 수 있습니다.

- 가상환경 설치
    ```
    python -m venv venv
    ```

- 실습에 필요한 패키지 설치

In [ ]:
!pip3 install sqlalchemy

In [ ]:
!pip3 install pymysql

In [ ]:
!pip3 install seaborn

In [ ]:
!pip3 install pandas

## 데이터베이스 연결

In [1]:
import sqlalchemy as db
import pymysql

In [2]:
pymysql.install_as_MySQLdb()

In [3]:
db.__version__

'2.0.36'

### 데이터 베이스 연결 $\to$ 엔진 객체 생성

```engine = db.create_engine("mysql://[아이디]:[비번]@[Public IP 주소]/[데이터베이스이름?charset=utf8]```

In [4]:
# 데이터 베이스 연결 --> 엔진 객체 생성
#engine = create_engine("(db-type)://(your_mysql_account):(your_mysql_passwd)@(public IP of your Server)/(DB directory)")
engine = db.create_engine("mysql://pjh:1514@43.203.227.186/test?charset=utf8")

### 데이터 베이스에 session 연결

In [5]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(engine)
session = Session()
session

### DB 테이블 생성

In [6]:
from sqlalchemy.orm import declarative_base
Base = declarative_base()

In [7]:
# 테이블 객체 생성을 위한 클래스 작성
class User(Base):
    
    __tablename__ = "user" # 테이블 이름
    # 테이블이 있으면 있는 것 불러옴
    # 테이블이 없으면 새로 생성
    
    # 컬럼 데이터 작성
    user_id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(30), )
    email = db.Column(db.String(30))
    age = db.Column(db.Integer)
    rdate = db.Column(db.DateTime)
    
    # 생성자 함수 --> 테이블에 각 row 생성
    def __init__(self, name, email, age, rdate):
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
        
    # repr 함수
    # 객체 생성 후 화면에 결과를 보여주기 위한 함수
    def __repr__(self):
        return "<User {}, {}, {}, {}>".format(
            self.name, self.email, self.age, self.rdate)

- 객체가 잘 생성되는지 확인해 보기

- engine에 연결된 데이터 베이스(test)에 테이블 생성

### 1. 데이터 추가  (insert)

- run transaction (commit)

- 여러 데이터를 동시에 처리

- Rollback: session에 있는 객체를 초기화

## 2. 원하는 데이터 뽑아오기 (Select)

- 전체 데이터 뽑기

- 필터 걸어서 뽑기 (filter : ==, !=, >, <, <=, >=, like, in_ )

In [ ]:
# filter : ==

In [ ]:
# filter : like

In [ ]:
# filter : in_

In [ ]:
# filter : or_

In [ ]:
# order by

In [ ]:
# count

4

## 3. 데이터 변경 (Update)

## 4. 데이터 삭제 (Delete)

- 한줄 삭제 (delete a row)

2

- 테이블 전체 삭제 (delete a table)

## 5. With Pandas

In [44]:
import seaborn as sns

In [45]:
import pandas as pd

- Iris 데이터를 불러와서 pandas DataFrame으로 저장

In [ ]:
iris_df = sns.load_dataset("iris")

In [ ]:
engine

- AWS mysql 데이터베이스로 전송

In [48]:
iris_df.to_sql(name="iris", con=engine, if_exists="replace")

150

- 데이터 가져오기

In [ ]:
# 참고사항 (다시 한번 확인)
# engine = db.create_engine("mysql://test:[여러분의 비번]@[공인IP]/test?charset=utf8")

In [ ]:
QUERY = """
    SELECT *
    FROM iris
"""