### SQLAlchemy
- python 에서 사용하는 ORM
- ORM : Object Relational Mapping
    - 데이터 베이스를 객체화 시켜서 데이터 베이스에 있는 데이터를 CRUD 할수 있다.
        - Create
        - Read
        - Update
        - Delete
    - 쿼리 대신 함수 형태로 CRUD를 할수 있습니다.
    - 사용하는 데이터 베이스를 변경하는 경우 엔진만 바꿔주면 됩니다.
- 설치 : `pip3 install sqlalchemy`

## 로컬에서 작업해 보겠습니다.
### 서버에서 작업해도 동일한 결과를 얻을 수 있습니다.

- 가상환경 설치
    ```
    python -m venv venv
    ```

- 실습에 필요한 패키지 설치

In [3]:
!pip3 install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.36-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.7 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/pjh/.local/lib/python3.10/site-packages (from sqlalchemy) (4.12.2)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Downloading SQLAlchemy-2.0.36-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 8.8 MB/s eta 0:00:00a 0:00:01
Downloading greenlet-3.1.1-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (599 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 599.5/599.5 kB 6.7 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-2.0.36

In [7]:
!pip3 install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in /home/pjh/.local/lib/python3.10/site-packages (1.1.1)

In [ ]:
!pip3 install seaborn

In [1]:
!which python3

/bin/python3

In [6]:
!pip3 install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/pjh/.local/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /home/pjh/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/pjh/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in /home/pjh/.local/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

## 데이터베이스 연결

In [1]:
import sqlalchemy as db
import pymysql

In [2]:
pymysql.install_as_MySQLdb()

In [3]:
db.__version__

'2.0.36'

### 데이터 베이스 연결 $\to$ 엔진 객체 생성

```engine = db.create_engine("mysql://[아이디]:[비번]@[Public IP 주소]/[데이터베이스이름?charset=utf8]```

In [10]:
# 데이터 베이스 연결 --> 엔진 객체 생성
#engine = create_engine("mysql://root:dss@13.125.153.195/test")
#engine = create_engine("(db-type)://(your_mysql_account):(your_mysql_passwd)@(public IP of your Server)/(DB directory)")
# engine = db.create_engine("mysql://test:abcd1234@xxx.xxx.xxx.xxx/test?charset=utf8")

engine = db.create_engine("mysql://pjh:1514@43.203.227.186/test?charset=utf8")

### 데이터 베이스에 session 연결

In [11]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(engine)
session = Session()
session

### DB 테이블 생성

In [12]:
from sqlalchemy.orm import declarative_base
Base = declarative_base()

In [13]:
# 테이블 객체 생성을 위한 클래스 작성
class User(Base):
    
    __tablename__ = "user" # 테이블 이름
    # 테이블이 있으면 있는 것 불러옴
    # 테이블이 없으면 새로 생성
    
    # 컬럼 데이터 작성
    user_id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(30), )
    email = db.Column(db.String(30))
    age = db.Column(db.Integer)
    rdate = db.Column(db.DateTime)
    
    # 생성자 함수 --> 테이블에 각 row 생성
    def __init__(self, name, email, age, rdate):
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
        
    # repr 함수
    # 객체 생성 후 화면에 결과를 보여주기 위한 함수
    def __repr__(self):
        return "<User {}, {}, {}, {}>".format(
            self.name, self.email, self.age, self.rdate)

- 객체가 잘 생성되는지 확인해 보기

In [14]:
user = User(
    name='홍길동', email='email@example.com', age=21, rdate='2022-11-27'
)

In [15]:
user

- engine에 연결된 데이터 베이스(test)에 테이블 생성

In [16]:
Base.metadata.create_all(engine)

### 1. 데이터 추가  (insert)

In [17]:
user = User("교수님", "kafa46@cju.ac.kr", 18, "2020-12-24")
user

In [18]:
user.__tablename__

'user'

In [19]:
session.add(user)

- run transaction (commit)

In [20]:
session.commit()

- 여러 데이터를 동시에 처리

In [21]:
# many insert
users = [
    User("홍길동", "alice@gmail.com", 25, "2018-02-21"),
    User("andy", "andy@daum.net", 33, "2015-10-21"),
]

# data = [
#     [name, email, age, rdate],
#     [name, email, age, rdate],
#     [name, email, age, rdate]
# ]
# users = []
# for x in data:
#    users.append(User(x[0], x[1], x[2], x[3]))

In [22]:
users[0]

In [23]:
session.add_all(users)

In [24]:
session.commit()

- Rollback: session에 있는 객체를 초기화

In [25]:
session.rollback()

## 2. 원하는 데이터 뽑아오기 (Select)

- 전체 데이터 뽑기

In [27]:
# all
results = session.query(User).all()
list(results)

[<User 교수님, kafa46@cju.ac.kr, 18, 2020-12-24 00:00:00>,
 <User 홍길동, alice@gmail.com, 25, 2018-02-21 00:00:00>,
 <User andy, andy@daum.net, 33, 2015-10-21 00:00:00>]

- 필터 걸어서 뽑기 (filter : ==, !=, >, <, <=, >=, like, in_ )

<img src = "filter1.png" width = '600' heigh = '500'> <img src = "filter2.png" width = '700' heigh = '600'>

In [19]:
# filter : ==
results = session.query(User).filter(User.name == "홍길동")
list(results)

In [ ]:
# filter : like
results = session.query(User).filter(User.email.like("%gmail%"))
list(results)

In [20]:
# filter : in_
results = session.query(User).filter(User.name.in_(["andy"]))
list(results)

In [21]:
# filter : or_

results = session.query(User).filter(
    db.or_(User.name == "교수님", User.age == 18)
)
list(results)

In [22]:
# order by
results = session.query(User).order_by(User.age.desc())
list(results)

[<User andy, andy@daum.net, 33, 2015-10-21 00:00:00>,
 <User 홍길동, alice@gmail.com, 25, 2018-02-21 00:00:00>,
 <User 교수님, kafa46@cju.ac.kr, 18, 2020-12-24 00:00:00>]

In [23]:
# count
session.query(User).count()

3

## 3. 데이터 변경 (Update)

In [36]:
data = session.query(User).filter(User.name == "교수님")
data[0], type(data)

(<User 교수님, kafa46@cju.ac.kr, 18, 2020-12-24 00:00:00>,
 sqlalchemy.orm.query.Query)

In [31]:
data = session.query(User).filter(User.name == "홍길동").one()
data, type(data)

(<User 홍길동, alice@gmail.com, 25, 2018-02-21 00:00:00>, __main__.User)

In [38]:
data[0]

In [39]:
data[0].age = 28

In [41]:
session.add(data[0])

In [42]:
session.commit()

## 4. 데이터 삭제 (Delete)

- 한줄 삭제 (delete a row)

In [43]:
session.query(User).filter(User.name == "교수님").delete()

1

In [44]:
session.commit()

- 테이블 전체 삭제 (delete a table)

In [45]:
User.__table__.drop(engine)

## 5. With Pandas

In [46]:
import seaborn as sns

In [47]:
import pandas as pd

- Iris 데이터를 불러와서 pandas DataFrame으로 저장

In [48]:
iris_df = sns.load_dataset("iris")
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [49]:
engine

Engine(mysql://pjh:***@43.203.227.186/test?charset=utf8)

- AWS mysql 데이터베이스로 전송

In [50]:
iris_df.to_sql(name="iris", con=engine, if_exists="replace")

150

- 데이터 가져오기

In [ ]:
# engine = db.create_engine("mysql://test:[여러분의 비번]@184.72.181.7/test?charset=utf8")

In [51]:
QUERY = """
    SELECT *
    FROM iris
"""
city_df = pd.read_sql(QUERY, engine)
city_df.tail()

     index  sepal_length  sepal_width  petal_length  petal_width    species
145    145           6.7          3.0           5.2          2.3  virginica
146    146           6.3          2.5           5.0          1.9  virginica
147    147           6.5          3.0           5.2          2.0  virginica
148    148           6.2          3.4           5.4          2.3  virginica
149    149           5.9          3.0           5.1          1.8  virginica