### 1. 주식 정보 크롤링 후 db 저장
#### 날짜 별 정보 수집

In [2]:
import requests
from bs4 import BeautifulSoup as bs
import pymysql
import sqlalchemy as sc 
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import declarative_base
import pandas as pd

In [12]:
kospi_day_url = 'https://m.stock.naver.com/api/index/KOSPI/price?pageSize=20&page=1'

In [13]:
resp = requests.get(kospi_day_url)
resp.text

'[{"localTradedAt":"2024-12-11","closePrice":"2,442.51","compareToPreviousClosePrice":"24.67","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"1.02","openPrice":"2,412.15","highPrice":"2,443.34","lowPrice":"2,411.38"},{"localTradedAt":"2024-12-10","closePrice":"2,417.84","compareToPreviousClosePrice":"57.26","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"2.43","openPrice":"2,384.51","highPrice":"2,419.06","lowPrice":"2,384.51"},{"localTradedAt":"2024-12-09","closePrice":"2,360.58","compareToPreviousClosePrice":"-67.58","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-2.78","openPrice":"2,392.37","highPrice":"2,399.52","lowPrice":"2,360.18"},{"localTradedAt":"2024-12-06","closePrice":"2,428.16","compareToPreviousClosePrice":"-13.69","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.56","openPrice":"2,451.60","highPrice":"2,459.24","lowPrice":"2,397.73"},{"localTradedAt":"2024-12-05","closePrice":"2,441.85","compareToPreviousClosePrice":"-22.15","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.90","openPrice":"2,471.45","highPrice":"2,471.45","lowPrice":"2,434.78"},{"localTradedAt":"2024-12-04","closePrice":"2,464.00","compareToPreviousClosePrice":"-36.10","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-1.44","openPrice":"2,450.76","highPrice":"2,483.04","lowPrice":"2,442.46"},{"localTradedAt":"2024-12-03","closePrice":"2,500.10","compareToPreviousClosePrice":"45.62","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"1.86","openPrice":"2,472.06","highPrice":"2,500.67","lowPrice":"2,471.55"},{"localTradedAt":"2024-12-02","closePrice":"2,454.48","compareToPreviousClosePrice":"-1.43","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.06","openPrice":"2,479.02","highPrice":"2,483.29","lowPrice":"2,448.45"},{"localTradedAt":"2024-11-29","closePrice":"2,455.91","compareToPreviousClosePrice":"-48.76","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-1.95","openPrice":"2,496.93","highPrice":"2,496.93","lowPrice":"2,446.96"},{"localTradedAt":"2024-11-28","closePrice":"2,504.67","compareToPreviousClosePrice":"1.61","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.06","openPrice":"2,499.69","highPrice":"2,513.63","lowPrice":"2,495.64"},{"localTradedAt":"2024-11-27","closePrice":"2,503.06","compareToPreviousClosePrice":"-17.30","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.69","openPrice":"2,518.82","highPrice":"2,526.32","lowPrice":"2,498.32"},{"localTradedAt":"2024-11-26","closePrice":"2,520.36","compareToPreviousClosePrice":"-13.98","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.55","openPrice":"2,521.39","highPrice":"2,526.62","lowPrice":"2,512.21"},{"localTradedAt":"2024-11-25","closePrice":"2,534.34","compareToPreviousClosePrice":"33.10","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"1.32","openPrice":"2,524.11","highPrice":"2,541.76","lowPrice":"2,517.98"},{"localTradedAt":"2024-11-22","closePrice":"2,501.24","compareToPreviousClosePrice":"20.61","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.83","openPrice":"2,493.42","highPrice":"2,511.23","lowPrice":"2,492.21"},{"localTradedAt":"2024-11-21","closePrice":"2,480.63","compareToPreviousClosePrice":"-1.66","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.07","openPrice":"2,474.62","highPrice":"2,496.97","lowPrice":"2,474.62"},{"localTradedAt":"2024-11-20","closePrice":"2,482.29","compareToPreviousClosePrice":"10.34","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.42","openPrice":"2,475.76","highPrice":"2,489.15","lowPrice":"2,471.79"},{"localTradedAt":"2024-11-19","closePrice":"2,471.95","compareToPreviousClosePrice":"2.88","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.12","openPrice":"2,469.13","highPrice":"2,479.39","lowPrice":"2,465.15"},{"localTradedAt":"2024-11-18","closePrice":"2,469.07","compareToPreviousClosePrice":"52.21","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"2.16","openPrice":"2,440.31","highPrice":"2,480.01","lowPrice":"2,437.53"},{"localTradedAt":"2024-11-15","closePrice":"2,416.86","compareToPreviousClosePrice":"-2.00","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.08","openPrice":"2,413.05","highPrice":"2,433.18","lowPrice":"2,390.56"},{"localTradedAt":"2024-11-14","closePrice":"2,418.86","compareToPreviousClosePrice":"1.78","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.07","openPrice":"2,430.26","highPrice":"2,441.43","lowPrice":"2,410.93"}]'

In [14]:
kospi_day =  resp.json()
kospi_day

[{'localTradedAt': '2024-12-11',
  'closePrice': '2,442.51',
  'compareToPreviousClosePrice': '24.67',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '1.02',
  'openPrice': '2,412.15',
  'highPrice': '2,443.34',
  'lowPrice': '2,411.38'},
 {'localTradedAt': '2024-12-10',
  'closePrice': '2,417.84',
  'compareToPreviousClosePrice': '57.26',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '2.43',
  'openPrice': '2,384.51',
  'highPrice': '2,419.06',
  'lowPrice': '2,384.51'},
 {'localTradedAt': '2024-12-09',
  'closePrice': '2,360.58',
  'compareToPreviousClosePrice': '-67.58',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-2.78',
  'openPrice': '2,392.37',
  'highPrice': '2,399.52',
  'lowPrice': '2,360.18'},
 {'localTradedAt': '2024-12-06',
  'closePrice': '2,428.16',
  'compareToPreviousClosePrice': '-13.69',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-0.56',
  'openPrice': '2,451.60',
  'highPrice': '2,459.24',
  'lowPrice': '2,397.73'},
 {'localTradedAt': '2024-12-05',
  'closePrice': '2,441.85',
  'compareToPreviousClosePrice': '-22.15',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-0.90',
  'openPrice': '2,471.45',
  'highPrice': '2,471.45',
  'lowPrice': '2,434.78'},
 {'localTradedAt': '2024-12-04',
  'closePrice': '2,464.00',
  'compareToPreviousClosePrice': '-36.10',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-1.44',
  'openPrice': '2,450.76',
  'highPrice': '2,483.04',
  'lowPrice': '2,442.46'},
 {'localTradedAt': '2024-12-03',
  'closePrice': '2,500.10',
  'compareToPreviousClosePrice': '45.62',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '1.86',
  'openPrice': '2,472.06',
  'highPrice': '2,500.67',
  'lowPrice': '2,471.55'},
 {'localTradedAt': '2024-12-02',
  'closePrice': '2,454.48',
  'compareToPreviousClosePrice': '-1.43',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-0.06',
  'openPrice': '2,479.02',
  'highPrice': '2,483.29',
  'lowPrice': '2,448.45'},
 {'localTradedAt': '2024-11-29',
  'closePrice': '2,455.91',
  'compareToPreviousClosePrice': '-48.76',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-1.95',
  'openPrice': '2,496.93',
  'highPrice': '2,496.93',
  'lowPrice': '2,446.96'},
 {'localTradedAt': '2024-11-28',
  'closePrice': '2,504.67',
  'compareToPreviousClosePrice': '1.61',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '0.06',
  'openPrice': '2,499.69',
  'highPrice': '2,513.63',
  'lowPrice': '2,495.64'},
 {'localTradedAt': '2024-11-27',
  'closePrice': '2,503.06',
  'compareToPreviousClosePrice': '-17.30',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-0.69',
  'openPrice': '2,518.82',
  'highPrice': '2,526.32',
  'lowPrice': '2,498.32'},
 {'localTradedAt': '2024-11-26',
  'closePrice': '2,520.36',
  'compareToPreviousClosePrice': '-13.98',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-0.55',
  'openPrice': '2,521.39',
  'highPrice': '2,526.62',
  'lowPrice': '2,512.21'},
 {'localTradedAt': '2024-11-25',
  'closePrice': '2,534.34',
  'compareToPreviousClosePrice': '33.10',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '1.32',
  'openPrice': '2,524.11',
  'highPrice': '2,541.76',
  'lowPrice': '2,517.98'},
 {'localTradedAt': '2024-11-22',
  'closePrice': '2,501.24',
  'compareToPreviousClosePrice': '20.61',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '0.83',
  'openPrice': '2,493.42',
  'highPrice': '2,511.23',
  'lowPrice': '2,492.21'},
 {'localTradedAt': '2024-11-21',
  'closePrice': '2,480.63',
  'compareToPreviousClosePrice': '-1.66',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-0.07',
  'openPrice': '2,474.62',
  'highPrice': '2,496.97',
  'lowPrice': '2,474.62'},
 {'localTradedAt': '2024-11-20',
  'closePrice': '2,482.29',
  'compareToPreviousClosePrice': '10.34',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '0.42',
  'openPrice': '2,475.76',
  'highPrice': '2,489.15',
  'lowPrice': '2,471.79'},
 {'localTradedAt': '2024-11-19',
  'closePrice': '2,471.95',
  'compareToPreviousClosePrice': '2.88',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '0.12',
  'openPrice': '2,469.13',
  'highPrice': '2,479.39',
  'lowPrice': '2,465.15'},
 {'localTradedAt': '2024-11-18',
  'closePrice': '2,469.07',
  'compareToPreviousClosePrice': '52.21',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '2.16',
  'openPrice': '2,440.31',
  'highPrice': '2,480.01',
  'lowPrice': '2,437.53'},
 {'localTradedAt': '2024-11-15',
  'closePrice': '2,416.86',
  'compareToPreviousClosePrice': '-2.00',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-0.08',
  'openPrice': '2,413.05',
  'highPrice': '2,433.18',
  'lowPrice': '2,390.56'},
 {'localTradedAt': '2024-11-14',
  'closePrice': '2,418.86',
  'compareToPreviousClosePrice': '1.78',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '0.07',
  'openPrice': '2,430.26',
  'highPrice': '2,441.43',
  'lowPrice': '2,410.93'}]

In [15]:
kospi_df = pd.DataFrame(kospi_day) 
kospi_df

,localTradedAt,closePrice,compareToPreviousClosePrice,compareToPreviousPrice,fluctuationsRatio,openPrice,highPrice,lowPrice
0,2024-12-11,"2,442.51",24.67,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.02,"2,412.15","2,443.34","2,411.38"
1,2024-12-10,"2,417.84",57.26,"{'code': '2', 'text': '상승', 'name': 'RISING'}",2.43,"2,384.51","2,419.06","2,384.51"
2,2024-12-09,"2,360.58",-67.58,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-2.78,"2,392.37","2,399.52","2,360.18"
3,2024-12-06,"2,428.16",-13.69,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.56,"2,451.60","2,459.24","2,397.73"
4,2024-12-05,"2,441.85",-22.15,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.90,"2,471.45","2,471.45","2,434.78"
5,2024-12-04,"2,464.00",-36.10,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.44,"2,450.76","2,483.04","2,442.46"
6,2024-12-03,"2,500.10",45.62,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.86,"2,472.06","2,500.67","2,471.55"
7,2024-12-02,"2,454.48",-1.43,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.06,"2,479.02","2,483.29","2,448.45"
8,2024-11-29,"2,455.91",-48.76,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.95,"2,496.93","2,496.93","2,446.96"
9,2024-11-28,"2,504.67",1.61,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.06,"2,499.69","2,513.63","2,495.64"
10,2024-11-27,"2,503.06",-17.30,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.69,"2,518.82","2,526.32","2,498.32"
11,2024-11-26,"2,520.36",-13.98,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.55,"2,521.39","2,526.62","2,512.21"
12,2024-11-25,"2,534.34",33.10,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.32,"2,524.11","2,541.76","2,517.98"
13,2024-11-22,"2,501.24",20.61,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.83,"2,493.42","2,511.23","2,492.21"
14,2024-11-21,"2,480.63",-1.66,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.07,"2,474.62","2,496.97","2,474.62"
15,2024-11-20,"2,482.29",10.34,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.42,"2,475.76","2,489.15","2,471.79"
16,2024-11-19,"2,471.95",2.88,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.12,"2,469.13","2,479.39","2,465.15"
17,2024-11-18,"2,469.07",52.21,"{'code': '2', 'text': '상승', 'name': 'RISING'}",2.16,"2,440.31","2,480.01","2,437.53"
18,2024-11-15,"2,416.86",-2.00,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.08,"2,413.05","2,433.18","2,390.56"
19,2024-11-14,"2,418.86",1.78,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.07,"2,430.26","2,441.43","2,410.93"

In [16]:
kospi_df_lta_cp = kospi_df[['localTradedAt','closePrice']]
kospi_df_lta_cp

   localTradedAt closePrice
0     2024-12-11   2,442.51
1     2024-12-10   2,417.84
2     2024-12-09   2,360.58
3     2024-12-06   2,428.16
4     2024-12-05   2,441.85
5     2024-12-04   2,464.00
6     2024-12-03   2,500.10
7     2024-12-02   2,454.48
8     2024-11-29   2,455.91
9     2024-11-28   2,504.67
10    2024-11-27   2,503.06
11    2024-11-26   2,520.36
12    2024-11-25   2,534.34
13    2024-11-22   2,501.24
14    2024-11-21   2,480.63
15    2024-11-20   2,482.29
16    2024-11-19   2,471.95
17    2024-11-18   2,469.07
18    2024-11-15   2,416.86
19    2024-11-14   2,418.86

In [17]:
kospi_lta_list = kospi_df_lta_cp['localTradedAt'].to_list()
kospi_cp_lsit = kospi_df_lta_cp['closePrice'].to_list()

In [18]:
kospi_lta_list

['2024-12-11',
 '2024-12-10',
 '2024-12-09',
 '2024-12-06',
 '2024-12-05',
 '2024-12-04',
 '2024-12-03',
 '2024-12-02',
 '2024-11-29',
 '2024-11-28',
 '2024-11-27',
 '2024-11-26',
 '2024-11-25',
 '2024-11-22',
 '2024-11-21',
 '2024-11-20',
 '2024-11-19',
 '2024-11-18',
 '2024-11-15',
 '2024-11-14']

In [19]:
kospi_cp_lsit

['2,442.51',
 '2,417.84',
 '2,360.58',
 '2,428.16',
 '2,441.85',
 '2,464.00',
 '2,500.10',
 '2,454.48',
 '2,455.91',
 '2,504.67',
 '2,503.06',
 '2,520.36',
 '2,534.34',
 '2,501.24',
 '2,480.63',
 '2,482.29',
 '2,471.95',
 '2,469.07',
 '2,416.86',
 '2,418.86']

#### 1. sql을 이용하여 데이터 추가

In [ ]:
#mysql 접속

db = pymysql.connect(
        host = '43.203.227.186',
        user = 'pjh',
        password = '1514',
        port = 3306,
        sc = 'test',
        charset = 'utf8'
    )

cursor = db.cursor()

In [ ]:
# 테이블 생성
sql = '''
    CREATE TABLE prc1_kospi (
    localTradedAt VARCHAR(10) ,
    closePrice VARCHAR(20) PRIMARY KEY 
    
)
'''
cursor.execute(sql)

cursor = db.cursor()
# 데이터 추가
try:
    with db.cursor() as cursor:
        for _, row in kospi_df_lta_cp.iterrows():
            localTradedAt = row['localTradedAt'] if pd.notna(row['localTradedAt']) else None
            closePrice = row['closePrice'] if pd.notna(row['closePrice']) else None

            sql = """
                INSERT INTO prc1_kospi (localTradedAt, closePrice)
                VALUES (%s, %s)
            """
            cursor.execute(sql, (localTradedAt, closePrice))
        db.commit()
        print("Data inserted successfully!")
        
finally:
    db.close()

0

#### 2. orm을 이용하여 데이터 추가

In [4]:
pymysql.install_as_MySQLdb()

In [6]:
engine = sc.create_engine("mysql://pjh:1514@43.203.227.186/test?charset=utf8")

In [ ]:
Session = sessionmaker(engine)
session = Session()
session

In [30]:
Base = declarative_base()

# 테이블 객체 생성을 위한 클래스 작성
class User(Base):
    
    __tablename__ = "prc1_kospi_orm" # 테이블 이름
    # 테이블이 있으면 있는 것 불러옴
    # 테이블이 없으면 새로 생성
    
    # 컬럼 데이터 작성
    localTradedAt = sc.Column(sc.String(10))
    closePrice = sc.Column(sc.String(30), primary_key=True) 
    
    # 생성자 함수 --> 테이블에 각 row 생성
    def __init__(self, localTradedAt, closePrice):
        self.localTradedAt = localTradedAt
        self.closePrice = closePrice
        
    # repr 함수
    # 객체 생성 후 화면에 결과를 보여주기 위한 함수
    def __repr__(self):
        return "<{}, {}>".format(
            self.localTradedAt, self.closePrice)

In [22]:
Base.metadata.create_all(engine)
# 테이블 생성

In [23]:
user_objects = [
    User(row['localTradedAt'], row['closePrice'])
    for _, row in kospi_df_lta_cp.iterrows()
]

In [24]:
try:
    session.add_all(user_objects)
    session.commit()
    print("데이터 삽입 성공!")
except Exception as e:
    session.rollback()
    print(f"데이터 삽입 실패: {e}")
finally:
    session.close()

데이터 삽입 성공!

In [34]:
# 데이터 확인
users = session.query(User).all()

type(users)

list

In [35]:
users

[<2024-12-09, 2,360.58>,
 <2024-11-15, 2,416.86>,
 <2024-12-10, 2,417.84>,
 <2024-11-14, 2,418.86>,
 <2024-12-06, 2,428.16>,
 <2024-12-05, 2,441.85>,
 <2024-12-11, 2,442.51>,
 <2024-12-02, 2,454.48>,
 <2024-11-29, 2,455.91>,
 <2024-12-04, 2,464.00>,
 <2024-11-18, 2,469.07>,
 <2024-11-19, 2,471.95>,
 <2024-11-21, 2,480.63>,
 <2024-11-20, 2,482.29>,
 <2024-12-03, 2,500.10>,
 <2024-11-22, 2,501.24>,
 <2024-11-27, 2,503.06>,
 <2024-11-28, 2,504.67>,
 <2024-11-26, 2,520.36>,
 <2024-11-25, 2,534.34>]

#### 3. pandas 이용하여 데이터 추가

In [37]:
import seaborn as sns
import pandas as pd

In [ ]:
kospi_df_lta_cp.to_sql(
    name='prc1_kospi_pd',     # 테이블 이름
    con=engine,                # SQLAlchemy 엔진
    if_exists='replace',       # 'replace': 기존 테이블을 덮어씀, 'append': 데이터 추가
    index=False                # DataFrame의 인덱스를 테이블에 포함하지 않음
)